:root {
  --ifm-color-primary: #0077c1;
  --ifm-color-primary-dark: #006bae;
  --ifm-color-primary-darker: #0065a4;
  --ifm-color-primary-darkest: #005387;
  --ifm-color-primary-light: #0083d4;
  --ifm-color-primary-lighter: #0089de;
  --ifm-color-primary-lightest: #009bfb;
}

[data-theme="dark"] {
  --ifm-color-primary: #01a8dc;
  --ifm-color-primary-dark: #0197c6;
  --ifm-color-primary-darker: #018fbb;
  --ifm-color-primary-darkest: #01769a;
  --ifm-color-primary-light: #01b9f2;
  --ifm-color-primary-lighter: #01c1fd;
  --ifm-color-primary-lightest: #21cafe;
}
